nav ul{
	float: left;
	clear: left;
	padding: 0px;
}

nav ul li{
	list-style-type: none;
	float: left;
	margin-right: 10px;
}
h1{
	clear: left;
}
dt{
	font-weight: bold;
}
dd{
	margin: 0px;
}

form>*{
	float: left;
	clear: left;
}
label{
	font-weight: bold;
}
#number{
	text-align: right;
}
.fout{
	color: #FFF;
	background-color: red;
	font-weight: normal;
	padding: 3px;
	border-radius: 3px;
}